h1 {
        text-align:     center;
        font-size:      18px;
        font-weight:    bold;
}

p {
        text-align:     justify;
        font-size:      16px;
        margin-left:    25px;
        margin-right:   25px;
        /*font-family:    "Verdana";*/
}

li {
        text-align:     justify;
        font-size:      16px;
        margin-right:   25px;
        margin-bottom: .5rem;
}


a:link {
        text-decoration: underline;
}


/*Remove ticks and labels from sliders.*/
.irs-grid-text {display: none;}
.irs-grid-pol  {display: none;}


/*
https://stackoverflow.com/questions/62964056/r-shiny-scrolling-sidebar-overflow
https://stackoverflow.com/questions/62303331/how-to-make-sidebar-scroll-bootstrap-4
*/
#sidebarItemExpanded {
        
        overflow: auto;
        max-height: 100vh;
}


/*
https://www.faqcode4u.com/faq/48937/how-to-change-the-background-color-of-the-shiny-dashboard-body
*/

/*

/* logo  - titel deel van de header */
.skin-blue .main-header .logo {
        background-color: #f4b943;
}

/* logo when hovered - titel deel van de header */
.skin-blue .main-header .logo:hover {
        background-color: #f4b943;
}

/* navbar - rest of the header */
.skin-blue .main-header .navbar {
        background-color: #f4b943;
}       

/* main sidebar - de sidebar*/
.skin-blue .main-sidebar {
        background-color: #f4b943;
}

/* active selected tab in the sidebarmenu - nog niet helemaal duidelijk */
.skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
        background-color: red;
}

/* other links in the sidebarmenu - nog niet helemaal duidelijk */
.skin-blue .main-sidebar .sidebar .sidebar-menu a{
        background-color: red;
        color: red;
}

/* other links in the sidebarmenu when hovered - nog niet helemaal duidelijk */
.skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
        background-color: red;
}

/* toggle button when hovered - nog niet helemaal duidelijk  */                    
.skin-blue .main-header .navbar .sidebar-toggle:hover{
        background-color: red;
}
                 

/* https://stackoverflow.com/questions/47116236/change-colour-for-sliderinput

.irs-bar {
  border-top: red;
  border-bottom: red;
  background: red;
}

.irs-bar-edge {
  background: red;
  border: 0px !important;
}

.irs-single {
  background: red;
}*/