###############
# OS junk files
###############
[Tt]humbs.db
*.DS_Store
*.orig


###############
# Folders R
###############
Archive/
_Archive/
rsconnect/


###############
# Folders Python
###############
__pycache__/
.ipynb_checkpoints/


###############
# Files R
###############
*.Rproj
*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.log
*.bak
*.fst
*.rds
*.csv

###############
# Files Python
###############

###############
# Files Other
###############
*.pdf