###############
# OS junk files
###############
[Tt]humbs.db
*.DS_Store
*.orig


###############
# Folders
###############
Archive/
_Archive/
rsconnect/


###############
# RStudio
###############
*.Rproj
*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.log
*.bak
*.fst
*.rds
*.csv